
body {
    background-color: hsl(216, 12%, 8%);
    color: white;
    font-family: 'Overpass', sans-serif;
}

p {
     font-size: 15px;
     word-wrap: break-word;
}

.container{
    display: flex;

}

.outer-layer{
    margin: 250px;
}



.column-centre{
    justify-content: center;
}

.card{
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    overflow: hidden;
    padding: 20px;
    width: 300px;
}

.star img {
    background-color: hsl(216, 12%, 54%,.2);
    padding: 10px;
    border-radius: 50px;
}


.submit{
    justify-content: center;

}

.submit button {
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: 0px;
    border-radius: 25px;
    padding: 15px 120px 15px 120px;
    margin-top: 20px;

}


.submit button:hover {
    background-color: white;
    color:  hsl(25, 97%, 53%);

  }

.value{
    align-items: center;
    justify-content: center;
    color: white;
    background-color: hsl(216, 12%, 54%,.2);
    padding: 20px;
    border-radius: 50%;
    margin: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 0px ;
}

.rating button:hover {
    background-color: hsl(25, 97%, 53%);
    color:  white;

  }

.rating{
    align-items: center;
    justify-content: space-evenly;
}

.selected{
    background-color: rgb(179, 174, 174)
}


.hidden{
    display: none;
}

.mobile{
    justify-content: center;
}

.text{
    flex-direction: column;
    align-items: center;
}

.description{
    color: hsl(217, 12%, 63%);
    text-align: center;
}

.text p{
    background-color: hsl(217, 12%, 63%,0.5);
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    color: hsl(25, 97%, 53%);
}

